body{
	margin:0;
	padding: 0;
	background-color: #ffe8ae;
}
.top{
	background-color: black;
	color: #fff;
}
.judul{
	font-size: 12pt;
    padding: 10px;
    font-weight: bold;
}
.link{
	margin-top: 20px;
}